{% extends "base.html" %}

{% block title %}
    Recent Detections
{% endblock %}

{% block date_picker %}
  <form class="d-flex">
      <input type="date" id="date-picker" class="form-control" value="{{ date }}" min="{{ earliest_date }}" max="{{ date }}" onchange="navigateToDailySummary(this)" />
  </form>
{% endblock %}

{% block content %}
    <div id="app">
        <recent-detections :recent-detections="{{ recent_detections | tojson }}"></recent-detections>
    </div>

    <h2>Detection Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Common Name</th>
            <th scope="col">Total</th>
            {% for hour in range(current_hour + 1) %}
                <th scope="col">
                    <a href="{{ url_for('show_detections_by_hour', date=date, hour=hour) }}"
                       class="text-decoration-none text-reset">
                        {{ hour }}
                    </a>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for species in daily_summary.values() %}
            <tr>
                <td>
                    <a href="{{ url_for('show_detections_by_scientific_name', scientific_name=species.scientific_name, date=date, end_date=None) }}"
                       class="text-decoration-none text-reset">
                        {{ species.common_name }}
                    </a>
                </td>
                <td>{{ species.total_detections }}</td>
                {% for detections in species.hourly_detections[:current_hour + 1] %}
                    <td>
                        {% if detections > 0 %}
                            {{ detections }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'modals_and_scripts.html' %}
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="module">
        import RecentDetections from '/static/js/components/RecentDetections.vue';

        new Vue({
            el: '#app',
            components: {
                'recent-detections': RecentDetections
            }
        });
    </script>
    <script>
        function navigateToDailySummary(input) {
            const selectedDate = input.value;
            window.location.href = `/daily_summary/${selectedDate}`;
        }
    </script>
{% endblock %}
